.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 90px;
}

.container-header {
  @extend %flex-centered-items;

  background: linear-gradient(180deg, $bg-color 20%, transparent 50%);

  @include media-tablet-portrait {
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
  }

  @include media-iphone5 {
    justify-content: space-between;
    padding: 16px;
  }
}

.container-header-light {
  background: linear-gradient(180deg, $bg-light-theme-color 20%, transparent 50%);
}

.logo {
  width: 110px;
  height: 100px;

  // Use raster logo image instead of SVG mask
  background-image: url("../assets/favicon/download.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;

  @extend %transition;

  @include media-tablet-portrait {
    width: 95px;
    height: 86px;
  }

  @include media-iphone5 {
    width: 80px;
    height: 72px;
  }
}

.logo-light {
  // Keep same image for light theme, no mask
  background-image: url("../assets/favicon/download.png");
}

.language-switcher {
  display: flex;
  justify-content: space-between;
  min-width: 5rem;
  margin-left: 1rem;

  @include media-tablet-portrait {
    margin-left: 0;
    margin-right: 0;

    &>span {
      margin-right: 8px;
    }
  }

  @include media-iphone5 {
    padding-right: auto;
  }
}

.language-switcher_en,
.language-switcher_ru,
.theme-switcher {
  cursor: pointer;

  @extend %transition;
}

.theme-switcher {
  width: 45px;
  height: 45px;
  margin-left: 2.2rem;

  @include mask("../assets/svg/light-theme-icon.svg");

  @include media-tablet-portrait {
    margin-left: 0;
  }
}

.theme-switcher-light {
  @include mask("../assets/svg/dark-theme-icon.svg", cover, $text-light-theme-color, $brand-color);
}
