.section-title {
  position: relative;

  width: calc(100% / 2);
  margin: 6.25rem auto 3.75rem;

  text-align: center;

  >span {
    background: $bg-color;
	  display: inline-block;
	  padding: 0 1.25rem;
	  position: relative;
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 50%;
    z-index: -1;

    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: $brand-color;
  }

  @include media-tablet-portrait {
    margin: 6.25rem auto 4rem;
  }

  @include media-phone {
    width: calc(100% / 1.2);
    margin: 4rem auto 4rem;
  }
}

.section-title-light {

  >span {
    background: $bg-light-theme-color;
  }

  &::after {
    background: $text-light-theme-color;
  }
}

.portfolio-tagline {
  text-align: center;
  margin: -2rem auto 3rem;
  font-family: "Merriweather-Regular", serif;
  font-size: 1.5rem;
  font-style: italic;
  color: $brand-color;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;

  @include media-tablet-portrait {
    font-size: 1.2rem;
    margin: -2.5rem auto 2.5rem;
    padding: 0 1rem;
  }
}

.portfolio-tagline-light {
  color: $text-light-theme-color;
}
