html {
  box-sizing: border-box;
  font-size: 1em;

  background-color: $bg-color;
  overflow-x: hidden; // prevent horizontal scroll from off-canvas elements
}

.html-light {
  background-color: $bg-light-theme-color;
}

body {
  overflow-x: hidden; // ensure body doesn't produce horizontal scroll
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  color: $text-color;

  @extend %transition;

  &:hover,
  &:focus,
  &:active {
    color: $brand-color;
  }
}

/**
 * Basic styles for lists
 */
ul {
  list-style: none;
  padding: 0;

  color: $text-color;
}

/**
 * Reset margins for figure
 */
figure {
  margin: 0;
  padding: 0;
}
